<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.role == 3 && !current_user?(user) %>
    | <%= link_to "delete", user,  method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% end %>

  <% if user.role == 1 %>
    <div>Student</div>
  <% elsif user.role == 2 %>
    <div>Teacher</div>
  <% else %>
    <div>Admin</div>
  <% end %>
</li>