<% provide(:title, 'Categories') %>
<h1>Categories</h1>

<% if current_user.teacher? %>
  <h2><%= link_to "Create new category", new_category_path %></h2>
<% end %>

<ul class="users">
  <%= render @categories %>
</ul>